@import "../../components/vars";
@import "../../components/pseudo";
@import "../../components/mixins";
@import "../../components/keyframes";

body{
	overflow-x: hidden;
}

img{
	width: 100%;
}

.main{
	&__animation{
		position: relative;
	}
	&__top{
		margin-bottom: 188px;
	}
	&__clouds{
		position: absolute;
		top: -15%;
		left: 0;
		width: 100%;
	}
	&__sun{
		position: absolute;
		top: -15%;
		left: 85%;
		width: 5%;
		max-width: 60px;
  	}
	&__lattern{
		position: absolute;
		max-width: 214px;
		top: 25%;
		left: 72%;
		z-index: 7;
		width: 10%;
	}
	&__lattern01{
		position: absolute;
		max-width: 150px;
		top: 22%;
		left: 10%;
		z-index: 5;
		width: 7%;
	}
	&__lattern02{
		overflow: hidden;
		position: absolute;
		max-width: 150px;
		top: 22%;
		right: -3%;
		z-index: 5;
		width: 7%;
	}
	&__carone{
		max-width: 250px;
		position: absolute;
		top: 45%;
		z-index: 1;
		width: 18%;
	}
	&__cartwo{
		position: absolute;
		max-width: 203px;
		top: 50%;
		z-index: 2;
		width: 14%;
	}
	&__carthree{
		max-width: 246px;
		position: absolute;
		top: 52%;
		z-index: 3;
		width: 17%;
	}
	&__carfour{
		max-width: 268px;
		position: absolute;
		top: 49%;
		z-index: 4;
		width: 19%;
	}
	&__taxi{
		max-width: 886px;
		position: absolute;
		top: 52%;
		z-index: 8;
		width: 37%;
	}
	&__texttaxi{
		position: absolute;
		top: -45%;
		left: 28%;
		z-index: 8;
		max-width: 160px;
		width: 32%;
	}
	&__man {
		max-width: 214px;
		position: absolute;
		top: 50%;
		left: 25%;
		z-index: 10;
		width: 15%;
	}
	&__woman {
		max-width: 271px;
		position: absolute;
		top: 47%;
		left: 16%;
		z-index: 9;
		width: 7%;
	}
}


.taxi__img{
	position: relative;
}
.taxi__text{
	position: absolute;
	top: -47%;
    left: 28%;
    max-width: 160px;
    width: 31%;
}
.man__img{
	position: relative;
}
.hand__img{
	position: absolute;
	max-width: 72px;
	width: 34%;
	top: -4%;
	left: 0%;
	z-index: -1;
}

.woman__img{
	max-width: 97px;
	position: relative;
}
.suitcases__img{
	position: absolute;
	max-width: 191px;
	width: 34%;
	top: -4%;
	left: 0%;
	z-index: -1;
}