@import "../../components/vars";
@import "../../components/pseudo";
@import "../../components/mixins";

.header{
	margin-bottom: 60px;
}

.products__row{
	display: flex;
	flex-wrap: wrap;
}

.products__image_wrapper{
	max-width: 280px;
	min-width: 247px;
	position: relative;
	margin-bottom: 23px;
}

.title__product{
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.main__bottom{
	margin: 0px 0px 0px 200px;
	max-width: 680px;
}

.main__bottom_title{
	margin: 0px 0px 25px 0px;
}

.main__footer_text p{
		margin: 0px 0px 15px 0px;
		&:last-child{
			margin: 0px 0px 0px 0px;
		}
}



$numberColumns: 12;
$gap: 20px;

$size-xl: 1220px;
$size-lg: 1000px;
$size-md: 768px;
$size-sm: 576px;

@mixin media-interval($min, $max) {
  @if $max == 0 {
    $max: 9999px;
  }
  
  @media (min-width: ($min + 1px)) and (max-width: $max) {
    @content;
  }
}
@mixin create-grid($type-width, $media-size) {
  @if media-size == "full" {
    .container {
      max-width: 100%;
    }
  } @else {
    .container {
      max-width: $media-size - $gap*2;
    }
  }
  @for $i from 1 through $numberColumns {
    .col-#{$type-width}-#{$i} {
      width: (100% / $numberColumns) * $i;
    }
  
    .skip-#{$type-width}-#{$i} {
      margin-left: (100% / $numberColumns) * $i;
    }
    .add-#{$type-width}-#{$i} {
      margin-right: (100% / $numberColumns) * $i;
    }
  }
}

@include media-interval($size-xl, 0) {
  @include create-grid(xl, $size-xl);
}
@include media-interval($size-lg, $size-xl) {
  @include create-grid(lg, $size-lg);
}
@include media-interval($size-md, $size-lg) {
  @include create-grid(md, $size-md);
}
@include media-interval($size-sm, $size-md) {
  @include create-grid(sm, $size-sm);
}
@include media-interval(0, $size-sm) {
  @include create-grid(xs, "full");
}

.container {
  padding-left: $gap;
  padding-right: $gap;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  box-sizing: border-box;
  padding-left: $gap;
  padding-right: $gap;
}

.row {
  display: flex;
  margin: (-$gap) (-$gap/2) 0 (-$gap/2);
}

.col {
  flex-basis: 0;
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

div[class*="col"] {
  box-sizing: border-box;
  padding: $gap $gap/2 0 $gap/2;
}


.row {
  .content {
    padding: 15px;
    box-sizing: border-box;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @for $i from 1 through 8 {
    div:nth-child(#{$i}) > .content {
      background-color: rgba(0, 0, 0, $i/10);
    }
  }
}