@import "../../components/vars";
@import "../../components/pseudo";
@import "../../components/mixins";

.header{
	margin-bottom: 60px;
}

.main{
	&__row{
		display: flex;
		justify-content: space-between;
}
	&__form{
		background: #E5EAF8;
		flex: 0 1 auto;
		margin: 0px 140px 0px 0px;
		max-width: 680px;
			& form{
				padding: 42px 30px;
				width: 100%;
			}
	}
	&__text p{
		margin: 0px 0px 20px 0px;
		max-width: 380px;
	}
}

label{
	font-size: 14px;
	line-height: 19px;
	color: #1E0606;
}

.form__input{
	width: 100%;
	height: 50px;
	margin: 3px 0px 20px 0px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.input{
	&__agreement{
		border-radius: 3px;
		width: 19px;
		height: 19px;
		color: #C29974;
		position: relative;
		margin-bottom: 17px;
}
	&__textarea{
		margin: 0px 0px 20px 0px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		width: 100%;
		resize: none;
		height:150px;
	}
}

.text__bottom{
font-weight: 600;
font-size: 26px;
line-height: 34px;
text-transform: uppercase;
color: #C29974;
}

.form-tel-email{
	justify-content: space-between;
	display: flex;
	margin: 0px -10px;
		& label{
			flex: 1 0 50%;
			padding: 0px 10px;
			}
			
			
}



@media ( max-width:768px ){
	.main__row{
		flex-direction: column;
	}
	.main__form{
		order: 2;
		margin: 0;
	}
	.main__text{
		order: 1;
		text-align: center;
	}

}


@media ( max-width:768px ){
	.container{
		padding: 0 20px;
	}
	.form-tel-email {
		flex-direction: column;
	}
}