
@keyframes car{

	0%{
	left: -20%;
	}
	50%{
	left: 50%;
	}
	100%{
	left: 150%;
	}
	}

	@keyframes taxi {

		0%{
		left: -100%;
		}
		10%{
		left: -100%;
		}
		20%{
		left: -100%;
		}
		30%{
		left: -50%;
		}
		40%{
		left: 0%;
		}
		50%{
		left: 25%;
		}
		60%{
		left: 40%;
		}
		80%{
		left: 60%;
		}
		90%{
		left: 90%;
		}
		100%{
		left: 150%;
		}
		}
	

	@keyframes taxi_text {
		0%{
			transform: translateY(-100%);
			}
		25%{
			transform: translateY(-100%);
		}
		30%{
			transform: translateY(0%);
		}
		55%{
			transform: translateY(0%);
		}
		60%{
			transform: translateY(-100%);
		}
		100%{
			transform: translateY(-100%);
			}
}


@keyframes clouds{

	0%{
	left: 100%;
	}
	50%{
	left: 0%;
	}
	100%{
	left: -100%;
	}
	}

@keyframes hand{
	0%{
		transform: rotate(150deg);
	}
	5%{
		transform: rotate(150deg);
	}
	30%{
		transform: rotate(50deg);
	}
	40%{
		transform: rotate(50deg);
	}
	50%{
		transform: rotate(50deg);
	}
	70%{
		transform: rotate(150deg);
	}
	90%{
	transform: rotate(150deg);
}
100%{
	transform: rotate(150deg);
}
}