
$openSans: 'Open Sans', 'Arial', 'Helvetica', 'sans-serif';

$black: #1E0606;

$Montserrat: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';

$CrimsonText-Italic: 'CrimsonText-Italic', 'Arial', 'Helvetica', 'sans-serif';

$CrimsonText-BoldItalic: 'CrimsonText-BoldItalic', 'Arial', 'Helvetica', 'sans-serif';

$white: #ffffff;